#header {
    margin-left: 20px;
    margin-top: 15px;
    width: 77%;
    display: inline-block;
}
.card {
    width: 20%;
    height: 140px;
    border: 2px solid black;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 30px;
    display: inline-block;
}
.card p {
    text-align: center;
}
hr {
  display:inline-block;
  width:100%;
  height: 1px;
  background-color: #333;
  }

.boxed {
  width: 20%;
    height: 140px;
    border: 2px solid black;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 30px;
    display: inline-block;
    text-align: center;

    line-height: 20px;

}
#box {
  float:left;
}
#massDelete {
  display: inline-block;
}

.submit {
  float: right;
  margin-top: -40px;
}

#info h4 {
  display: inline-block;
}
#skuInput {
  margin-left: 10px;
}
#nameInput {
  margin-left: 3px;
}
#priceInput {
  margin-left: 6px;
}
#dvd, #furniture, #book {
  border: 1px solid black;
  width: 30%;
  padding: 5px;
}
#f1 {
  margin-left: 10px;
}
#f2 {
  margin-left: 12px;
}
#f3 {
  margin-left: 6px;
}
